JWT_SECRET=ACCESS_TOKEN_SECRET_KEY
JWT_REFRESH_SECRET=REFRESH_TOKEN_SECRET_KEY
JWT_ACCESS_EXPIRY=JWT_ACCESS_EXPIRY
JWT_REFRESH_EXPIRY=JWT_REFRESH_EXPIRY
DB_HOST=DB_HOST
DB_PORT=DB_PORT
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_NAME=DB_NAME
UPLOAD_PATH=UPLOAD_PATH